.totalSection, .userInfo {
    width: 100%;
    align-content: left;
}

#subtotal, #tax, #total, #fname, #lname, #street, #city, #phone {
    align-items: center;
}

.address {
    visibility: hidden;
}