.totalSection, .userInfo {
    width: 100%;
    align-content: left;
}

#subtotal, #tax, #total {
    align-items: center;
}

input[name="fname"], input[name="lname"], input[name="street"], input[name="city"], input[name="phone"] {
    align-items: center;
}

.address {
    visibility: hidden;
}